@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700|Open+Sans:400,400i,700|Source+Code+Pro");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700|Open+Sans:400,400i,700|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700|Open+Sans:400,400i,700|Source+Code+Pro");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  background-color: #eee;
  color: #333;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.45em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

a {
  color: #333; }

section {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 16px;
  line-height: 1.65em; }
  @media (max-width: 878px) {
    section {
      margin-left: 14px;
      margin-right: 14px;
      margin-bottom: 20px; } }
  section p, section pre, section code {
    font-size: 1em;
    margin-bottom: 1.65em;
    line-height: 1.65em; }
  section h2 {
    font-size: 1.7em;
    padding: 25px 0;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    text-transform: lowercase; }
  section h3 {
    font-size: 1.3em;
    padding: 15px 0;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    text-transform: lowercase; }

code {
  font-family: "Source Code Pro", monospace;
  display: block;
  overflow-x: auto;
  padding: 6px;
  padding-left: 12px;
  border-radius: 6px;
  font-size: 1.0em;
  background-color: #444;
  color: #eee;
  -webkit-box-shadow: 4px 4px 20px 2px rgba(122, 122, 122, 0.6);
  -moz-box-shadow: 4px 4px 20px 2px rgba(122, 122, 122, 0.6);
  box-shadow: 4px 4px 20px 2px rgba(122, 122, 122, 0.6); }
  @media (max-width: 768px) {
    code {
      font-size: 0.8em !important; } }

footer {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 14px;
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-size: 0.8em; }
  @media (max-width: 878px) {
    footer {
      margin-left: 14px;
      margin-right: 14px; } }

header {
  border-bottom: 4px solid #333; }
  header canvas {
    display: block;
    position: relative;
    z-index: 1; }
  header nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 30px;
    font-family: "Space Mono", monospace; }
    header nav li {
      display: inline-block;
      margin-right: 18px;
      text-transform: lowercase; }
      header nav li:first-child {
        margin-right: 100px; }
      header nav li a {
        text-decoration: none; }
      header nav li h1 {
        text-decoration: underline;
        font-style: italic;
        font-size: 2.4em; }
      header nav li p {
        font-size: 1.2em; }
  header #scroll-down-btn {
    cursor: pointer;
    z-index: 100;
    background: url("../assets/angle_down.svg");
    background-size: 70px 70px;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    bottom: 5px; }

.project {
  display: block;
  float: left;
  width: 100%;
  height: 170px;
  margin-bottom: 15px; }
  .project img {
    display: block;
    float: left;
    height: 170px;
    margin-right: 15px; }

@media (max-width: 768px) {
  header li {
    float: left;
    clear: left;
    margin-bottom: 8px; }
    header li:first-of-type {
      margin-bottom: 40px; }
  header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.0em !important; }

  .project {
    float: none !important;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px; }
    .project h3 {
      text-align: center; }
    .project img {
      display: block;
      float: none;
      width: 100%;
      height: auto; } }

/*# sourceMappingURL=index.css.map */
