
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700');
$font: 'Space Mono', monospace;

$bg-color: #eee;
$text-color: #333;

$content-width: 850px;
$tight-content-margin: 30px; // for when screens are smaller than content-width

$image-dir: '../images/';
