
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700|Open+Sans:400,400i|Source+Code+Pro');
$display-font: 'Space Mono', monospace;
$text-font: 'Open Sans', sans-serif;
$code-font: 'Source Code Pro', monospace;

$bg-color: #eee;
$text-color: #333;

$code-background: #444;
$code-text-color: $bg-color;

$content-width: 850px;
$tight-content-margin: 14px; // for when screens are smaller than content-width

$image-dir: '../assets/';
