@import 'variables';
@import 'common';
@import 'mobile';

header {

	h1 {

		margin: 30px 30px;
		font-size: 2.4em;

		@include mobile {
			margin: 20px 0;
			font-size: 1.8em;
			text-align: center;
		}

		font-family: $display-font;
		text-transform: lowercase;
		text-decoration: underline;
		font-style: italic;
	}

}

#no-webgl2-error {
	color: #ff4444;
}

button {
	display: block;
	cursor: pointer;

	margin: 0;
	padding: 6px 10px;

	font-family: $display-font;
	font-size: 0.65em;
	font-style: italic;
	text-transform: lowercase;
	border-radius: 0;
	border: 0;
	color: $bg-color;
	background-color: $code-background;
}

#fullscreen-btn {
	float: right;
}

section {

	h1 {

		display: block;

		padding: 65px 0 25px 0;
		font-size: 2.5em;

		@include mobile {
			padding: 40px 0 25px 0;
			font-size: 2.1em;
			text-align: center;
		}

		font-family: $display-font;
		font-weight: 700;
		font-style: italic;
		text-transform: lowercase;

		small {
			display: block;
			font-size: 0.4em;
			font-weight: normal;
			text-transform: none;
			font-style: normal;
			color: #444;
			margin-top: 14px;
		}
	}

	b {
		font-weight: 700;
	}

}
